* {
    margin: 0px;
}

body {
    background-color: gray;
}


header {
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
    height: 150px;
    background-color: white;
}

header h1 {
    padding: 24px 0px;
    text-align: center;
    border-bottom: 2px solid black;
}

section {
    position: relative;
    max-width: 1024px;
    margin: 10px auto;
    text-align: center;
    background-color: rgb(255,255,255);
}

footer {
    position: relative;
    height: 100px;
    margin: auto;
    text-align: center;
    background-color: rgb(255,255,255);
}

footer h4 {
    text-align: center;
    padding: 40px 0px;
}

.navbar {
    display: block;
    margin: 0;
    padding: 0;
    float: right;
}

.navbar a {
    display: inline-block;
    color: rgb(12, 12, 12);
    text-align: center;
    padding: 23px 23px;
    text-decoration: none;  
    cursor: pointer;
}

.navbar a:hover {
    background-color: rgb(252, 10, 10);
}

#firstsection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#firstsection div {
    padding: 10%;    
    font-size: 2.5rem;
    color:rgb(117, 13, 91);
    font-family: 'Raleway', sans-serif;
}

#contacts a {
    display: inline-block;
    padding: 5px 20px;
    margin: 10px;
    text-align: center;
    border-left: 1px solid gray;
}

#contacts a:first-child {
    border-left: none;
}

#contacts a img {
    padding-right: 5px;
}

#summary {
    height: 250px;
    vertical-align: top;
}

#summary p {
    padding: 5% 0 0 10%;
    text-align: start;
    font-size: 1.5rem;
}

h2 {
    padding-top: 20px;
    font-family: "Raleway","Arial", "Times New Roman", sans-serif;
}

#skills div,
#experience div,
#education div {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Slab', "Raleway","Arial", "Times New Roman", serif;
}

#skills div {
    width: 30%;
    border: 1px solid gray;
    box-shadow: 5px 10px gray;
}

#skills div h3,
#skills div p {
    padding: 10px;
    border-bottom: 1px solid black;
}

#skills div p a {
    float: right;
}

#code-examples a {
    display: block;
    padding: 20px;
}

#experience div {
    padding: 20px;
    height: 200px;
    width: 200px;
    text-align: center;
}

#education div {
    width: 25%;
}

#level-english p {
    padding: 10px;
}



